{% extends "base.html" %}

{% block title %}
    Добавить описание
{% endblock %}

{% block header %}
<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" >
    <h1 class="centr">Добавить описание</h1>
    {% if message %}
            {% if link %}<a href="{{link}}">{{link}}</a>{% endif %}{{message }}
    {% endif %}
</div>
{% endblock %}




{% block main %}
<div class="container-fluid">
    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2 left_side_shadow">
    </div>
    <div class="container col-xs-12 col-sm-9 col-md-9 col-lg-9 contentindex ">

        <form action="{{ url_for('articles.add') }}" method="POST" enctype="multipart/form-data">
            {% for field in form %}
                    <div class="form-group">
                        {% if field.label() != '<label for="csrf_token">CSRF Token</label>'%}
                            <p> {{ field.label() }}</p>
                        {% endif %}

                        {{ field }}
                    </div>
            {% endfor %}

        </form>

    </div>
</div>
{% endblock %}

