{% extends "base.html" %}

{% block title %}
    Информация
{% endblock %}

{% block header %}
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <img class="banner" src="../static/images/banner.jpg" alt="Банер">
    </div>

{% endblock %}


{% block main %}
{% if articles_db %}
     <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2 left_side_shadow">
        <img class="buy_main_side_shadow" src="../static/images/side_shadow.png">
    </div>
    <div class="container col-xs-12 col-sm-9 col-md-9 col-lg-9 contentindex" >
        <img class="index_image" src="{{ url_for('static', filename='uploads/not.png') }}" alt="Товары" align="left">
        <h1>{{articles_db.title}}</h1>
        <p> {{articles_db.body}}</p>
        <h4>Описание :</h4>
        <p> {{articles_db.specification}}</p>
        
        <a href='{{ url_for('goods.index') }}' >
            <img class="buttonimage"  src="../static/images/button_buy_now.jpg" alt="Купить" align="right">
        </a>
    </div>

    <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1 right_side_shadow">
        <img class="buy_main_side_shadow" src="../static/images/side_shadow.png">
    </div>
{% endif %}
{% endblock %}


