{% extends "base.html" %}

{% block title %}
    Поиск
{% endblock %}

{% block header %}
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <img class="banner" src="../static/images/banner.jpg" alt="Банер">
    </div>

{% endblock %}


{% block main %}
{% if message %}
    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2 left_side_shadow">
        <img  src="../static/images/side_shadow.png" height="60" width="100%">
    </div>
    <div class="container col-xs-10 col-sm-7 col-md-7 col-lg-7 " >
        <h4 style="background: #D9FFAD; color: green; padding: 2px;">{{ message }}</h4>
    </div>
    <div class="container col-xs-2 col-sm-2 col-md-2 col-lg-2 " >
        <!-- Single button -->
        {% if pages %}
        {% if sorts %} 
        
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if request.args.get('sorting') %} {{request.args.get('sorting')}}{% else %} {{sorts[0]}} {% endif %}<span class="caret"></span>
            </button>
            
            <ul class="dropdown-menu"> 
            {% for sort in sorts %}
                <li><a href="/search?sorting={{sort}}&q={{ request.args.get('q','') }}">{{sort}}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1 right_side_shadow">
        <img  src="../static/images/side_shadow.png" height="60" width="100%">
    </div>

{% endif %}

{% if pages.rows  %}
{%  for row in pages.rows %}
     <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2 left_side_shadow">
        <img class="buy_main_side_shadow" src="../static/images/side_shadow.png">
    </div>
    <div class="container col-xs-12 col-sm-9 col-md-9 col-lg-9 contentindex" >
        <a href='{% if row.price %} {{ url_for(row.maintable.section, slug = row.slug) }}  {% endif %}' >
            <img class="index_image" src="{{ row.image }}" alt="Подробнее" align="left">
        </a>
        <h1>{{row.title}}</h1>
        <p> {{row.body}}</p>  
        {% if row.price %} 
            <br/>                          
            <p> <b>Цена: {{row.price}} грн.</b></p>
        
        <a href='{{ url_for('contacts') }}' >
            <img class="buttonimage"  src="../static/images/button_buy_now.jpg" alt="Купить" align="right" >
        </a>
        {% endif %}
        <a href='{{ url_for(row.maintable.section, slug = row.slug) }}' >
            <img class="buttonimage"  src="../static/images/button_details.jpg" alt="Подробнее" align="right"  >
        </a>
        
    </div>

    
    <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1 right_side_shadow">
        
        <img class="buy_main_side_shadow" src="../static/images/side_shadow.png">
    </div>
{% endfor %}
{% endif %}

{% if pages %} 
<div class="col-xs-0 col-sm-2 col-md-2 col-lg-2 left_side_shadow">
    <img height="80" width="100%" src="../static/images/side_shadow.png">
</div>

<div class="container col-xs-12 col-sm-9 col-md-9 col-lg-9 text-center " >
    <nav >
        <ul class="pagination pagination-md">

            <li {% if not pages.has_prev %} class="disabled" {% endif %} >

                <a href="{{url_for('search')}}?page={{ pages.page - 1 }}&sorting={{sorting }}&q={{ request.args.get('q','') }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>

            {% for page in pages.iter_pages() %}
            <li {% if page == pages.page %} class="active" {% endif %}>
                
                

                    {% if page %}
                    <a href="{{url_for('search')}}?page={{ page }}&sorting={{ sorting }}&q={{ request.args.get('q','') }}">{{ page }}
                    {% else %}
                    <a href="#">...
                    {% endif %}
                    
                    
                    <span class="sr-only">(current)</span></a>
                                
            </li>
            {% endfor %}

            <li {% if not pages.has_next %} class="disabled" {% endif %} >
                                    
                <a href="{% if pages.has_next %}
                {{url_for('search')}}?page={{ pages.page + 1 }}&sorting={{sorting}}&q={{ request.args.get('q','') }}
                {% endif %} " aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                
            </li>

        </ul>
    </nav>
</div>
<div class="col-xs-0 col-sm-1 col-md-1 col-lg-1 right_side_shadow">
    <img height="80" width="100%" src="../static/images/side_shadow.png">
</div>
{% endif %}
{% endblock %}


