{% extends "base.html" %}

{% block title %}
    Товары
{% endblock %}

{% block header %}
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <img class="banner" src="../static/images/banner.jpg" alt="Банер">
    </div>

{% endblock %}


{% block main %}
{% if products_db %}
     <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2 left_side_shadow">
    </div>
    <div class="container col-xs-12 col-sm-9 col-md-9 col-lg-9 contentindex" >
        <img class="index_image" src="{{ url_for('static', filename='uploads/'+products_db.image)}}" alt="Товары" align="left">
        <h1>{{products_db.title}}</h1>
        <p> {{products_db.body}}</p>
        <h4>Характеристики:</h4>
        <p> {{products_db.specification}}</p>
        <p> Цена: {{products_db.price}} грн.</p>
        
        <a href='{{ url_for('contacts') }}' >
            <img class="buttonimage"  src="../static/images/button_buy_now.jpg" alt="Купить" align="right">
        </a>
    </div>

    <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1 right_side_shadow">
    </div>
{% endif %}
{% endblock %}


